.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 20px;
}

.main-section {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}
.head-title{
  margin-bottom:20px;
}
.office-photo {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.founders {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
}
.founder{
  margin: 100px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
}


@media screen and (max-width: 1200px) {
  .founders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10em;
  }
  ul {
    display: none;
  }
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 10em;
  }
  
}