main {
  border: 1px solid black;
  width: 1200px;
  min-height: 1000px;
  margin: 0 auto;
}
.profile {
  display: grid;
  grid-template-columns: 120px 150px;
  padding: 100px;
  padding-left: 150px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.profile-name {
  font-size: 30px;
  padding-top: 15px;
}
.profile-title {
  font-size: 20px;
  opacity: 0.6;
  padding-top: 10px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.left-column {
  border: 1px solid red;
  margin: 0 auto;
  height: 650px;
  width: 500px;
  display: flex;
  align-items: center;
}

.left-dashboard {
    background-color: pink;
    border-radius: 15px;
    width: 80%;
    height: 600px;
    margin: 0 auto;

}

.right-column {
  border: 1px solid red;
  margin: 0 auto;
  height: 650px;
  width: 500px;
}
