.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f9f9;
  height: 100px;
  margin-top: -10px;
}

.logo {
  padding: 50px;
  padding-top: 0;
}
.logo-image {
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 10px;
}

li {
  float: left;
  margin: 30px;
  margin-left: 80px;
  font-weight: bold;
}

.main-section {
  display: grid;
  align-content: center;
  text-align: center;
  min-height: 20em;
}
.head-title {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 180px;
  font-size: 75px;
  font-weight: bold;
}

.about-us-text {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 100px;
  margin-top: 50px;
}
.about-us-text div {
  width: 400px;
}
.office-photo {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}
.office-photo img {
  width: 100%;
  margin-top: 100px;
  height: 800px;
  object-fit: cover;
}

.founders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 10em;
}

.founders-title {
  margin-top: 50px;
  margin-bottom: -10px;
  font-size: 35px;
  font-weight: bold;
}

.founders-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
}

.founder {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.founders-name {
  margin-top: -120px;
}

.founder-image {
  margin: 100px;
  margin-top: 70px;
  border-radius: 300px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  min-height: 10em;
  background-color: #f9f9f9;
}
.footer-menu {
  padding: 100px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.contact-us {
  height: 100px;
  width: 100%;
  padding: 100px;
}

.location {
  height: 100px;
  width: 100%;
  padding: 100px;
}

.footer h1 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .founders-profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10em;
  }

  ul {
    display: none;
  }

  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    min-height: 10em;
    background-color: #f9f9f9;
  }
  .footer-menu {
    padding: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .contact-us {
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding: 0;
  }

  .location {
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 100px;
  }

  .footer h1 {
    text-align: center;
    margin-bottom: -10px;
  }

  .head-title {
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }

  .about-us-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .about-us-text div {
    width: 80%;
  }
}
